* {
    margin: 0;
    padding: 0;
    font-family: "B Nazanin", sans-serif;
    direction: rtl;
    box-sizing: border-box;
}
/* حالت دارک مود */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  /* تغییر رنگ هدر در دارک مود */
  body.dark-mode .header {
    background: #1e1e1e;
    box-shadow: 10px 10px 20px #0d0d0d, -10px -10px 20px #1a1a1a;
  }
  
  /* تغییر رنگ لینک‌ها در منو برای حالت دارک مود */
  body.dark-mode .main-menu ul li a {
    color: #e0e0e0;
  }
.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
    border-radius: 50px;
    padding: 0 20px;
    position: fixed;
}

.logo img {
    height: 80px;
}

.main-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.submenu li {
    position: absolute; /* برای قرارگیری درست زیرمنو */
    margin: 0 15px;
}

.main-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #454647;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.main-menu ul li a:hover {
    background: #ddd;
    box-shadow: 2px 2px 10px #ff6f00;
    color: #ff6f00;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;
}
.dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-menu {
    display: block;
}


/* استایل زیرمنو */
.submenu {
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    width: 180px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
    transition: all 0.3s ease-in-out;
}
.dropdown-menu {
    top: 100%; /* اطمینان از اینکه منو دقیقاً زیر گزینه اصلی باز شود */
    right: 0;
    left: auto;
}

.submenu li {
    display: block;
    text-align: right;
}

.submenu li a {
    color: #333;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
}

.submenu li a:hover {
    background: #ff6f00;
    color: white;
}

/* نمایش زیرمنو هنگام هاور کردن */
.has-submenu:hover .submenu {
    display: block;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}

.search-btn,
.cart-btn {
    font-size: 20px;
    color: #454647;
    background: none;
    border: none;
    cursor: pointer;
}
.search-btn:hover,
.cart-btn:hover {
    color: #ff6f00;
    transition: color 0.3s ease-in-out;
}


.login-btn {
    background: #ff6f00;
    color: #454647;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.login-btn:hover {
    background: #e65c00;
    color: #fff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #454647;
}

/* استایل منوی موبایل */
.mobile-menu {
    display: none;
    background: #fff;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.mobile-menu ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.mobile-menu ul li {
    padding: 10px 0;
}

.mobile-menu ul li a, .mobile-menu ul li button {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    display: block;
    transition: background 0.3s;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.mobile-menu ul li button i {
    margin-left: 5px;
    cursor: pointer;
}

.mobile-menu ul li a:hover,
.mobile-menu ul li button:hover {
    background: #ddd;
}

/* نمایش منوی موبایل در حالت فعال */
.mobile-menu.active {
    display: block;
}

/* استایل ریسپانسیو */
@media (max-width: 768px) {
    .main-menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .header-buttons {
        gap: 5px;
    }

    .login-btn {
        font-size: 14px;
        padding: 8px 12px;
    }

    .logo img {
        height: 40px;
    }

    /* مخفی کردن دکمه‌های جست‌وجو و سبد خرید در موبایل */
    .search-btn,
    .cart-btn {
        display: none;
    }
}

/* نمایش دکمه‌های جست‌وجو و سبد خرید در دسکتاپ و تبلت */
@media (min-width: 769px) {
    .search-btn,
    .cart-btn {
        display: inline-block;
    }
}
/************************************بنر*********************************/
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50vh;
    min-width: 320px;
    margin: 36px 0 0 0;
}

.content {
    max-width: 50%;
}
.content h2 {
    font-size: 28px;
    color: #333;
}
.content span {
    color: #ff6f00;
}
.content p {
    margin: 10px 0;
    color: #666;
}
.btn2 {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    background: #ff6f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin: 15px 19px 0 0;
}
.btn2:hover {
    background: #fff;
    color:#ff6f00 ;
}
.image img {
    max-width: 350px;
    height: auto;
}
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
    }
    .content, .image {
        max-width: 100%;
    }
    .image img {
        max-width: 280px;
    }
}
/********************************دسته بندی محصولات*************************/
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(102px, 8fr));
    gap: 24px;
    max-width: 937px;
    margin: auto;
}
.category {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease-in-out;
    text-align: center;
}
.category:hover {
    box-shadow: 0px 0px 15px rgba(255, 111, 0, 0.8);
}
.category i {
    font-size: 40px;
    color: rgb(255, 111, 0);
    margin-bottom: 10px;
}
.category p {
    font-size: 18px;
    font-weight: bold;
}
.h22 {
    text-align: center;
    margin-bottom: 20px;
}
.our-advantages-container {
    background: #f8f8f8;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
}
.advantages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.advantage-item {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s;
}
.advantage-item:hover {
    box-shadow: 0px 0px 15px rgba(255, 111, 0, 0.8);
}
.advantage-item i {
    font-size: 40px;
    color: #ff6f00;
    margin-bottom: 10px;
}
.advantage-item p {
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
    }
    .h22 {
        margin-bottom: 10px;
    }
    .advantages {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*************************ارتباط با ما*********************/
 .contact-us-container {
        background-color: #1a237e;
        color: white;
        padding: 20px;
        text-align: center;
    }
    .contact-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 800px;
        margin: auto;
    }
    .contact-info div {
        flex: 1 1 45%;
        margin: 10px;
    }
    .quick-access ul {
        list-style: none;
        padding: 0;
    }
    .quick-access ul li {
        margin: 5px 0;
    }
    .quick-access ul li a {
        color: white;
        text-decoration: none;
    }
    @media (max-width: 600px) {
        .contact-info {
            flex-direction: column;
        }
    }
    /*********************ورود*************/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    
    .container{
        position: relative;
        width: 100%;
        height: 550px;
        background: #fff;
        margin: 20px;
        border-radius: 30px;
        box-shadow: 0 0 30px rgba(0, 0, 0, .2);
        overflow: hidden;
    }
    
        .container h1{
            font-size: 36px;
            margin: -10px 0;
        }
    
        .container p{
            font-size: 14.5px;
            margin: 15px 0;
        }
    
    form{ width: 100%; }
    
    .form-box{
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: #fff;
        display: flex;
        align-items: center;
        color: #333;
        text-align: center;
        padding: 40px;
        z-index: 1;
        transition: .6s ease-in-out 1.2s, visibility 0s 1s;
    }
    
        .container.active .form-box{ right: 50%; }
    
        .form-box.register{ visibility: hidden; }
            .container.active .form-box.register{ visibility: visible; }
    
    .input-box{
        position: relative;
        margin: 30px 0;
    }
    
        .input-box input{
            width: 100%;
            padding: 13px 50px 13px 20px;
            background: #eee;
            border-radius: 8px;
            border: none;
            outline: none;
            font-size: 16px;
            color: #333;
            font-weight: 500;
        }
    
            .input-box input::placeholder{
                color: #888;
                font-weight: 400;
            }
        
        .input-box i{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }
    
    .forgot-link{ margin: -15px 0 15px; }
        .forgot-link a{
            font-size: 14.5px;
            color: #333;
        }
    
    .btn{
        width: 100%;
        height: 48px;
        background: #ff6f00;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
    }
    
    .social-icons{
        display: flex;
        justify-content: center;
    }
    
        .social-icons a{
            display: inline-flex;
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 8px;
            font-size: 24px;
            color: #333;
            margin: 0 8px;
        }
    
    .toggle-box{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
        .toggle-box::before{
            content: '';
            position: absolute;
            left: -250%;
            width: 300%;
            height: 100%;
            background: #ff6f00;
            /* border: 2px solid red; */
            border-radius: 150px;
            z-index: 2;
            transition: 1.8s ease-in-out;
        }
    
            .container.active .toggle-box::before{ left: 50%; }
    
    .toggle-panel{
        position: absolute;
        width: 50%;
        height: 100%;
        /* background: seagreen; */
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        transition: .6s ease-in-out;
    }
    
        .toggle-panel.toggle-left{ 
            left: 0;
            transition-delay: 1.2s; 
        }
            .container.active .toggle-panel.toggle-left{
                left: -50%;
                transition-delay: .6s;
            }
    
        .toggle-panel.toggle-right{ 
            right: -50%;
            transition-delay: .6s;
        }
            .container.active .toggle-panel.toggle-right{
                right: 0;
                transition-delay: 1.2s;
            }
    
        .toggle-panel p{ margin-bottom: 20px; }
    
        .toggle-panel .btn{
            width: 160px;
            height: 46px;
            background: transparent;
            border: 2px solid #fff;
            box-shadow: none;
        }
    
    @media screen and (max-width: 650px){
        .container{ height: calc(100vh - 40px); }
    
        .form-box{
            bottom: 0;
            width: 100%;
            height: 70%;
        }
    
            .container.active .form-box{
                right: 0;
                bottom: 30%;
            }
    
        .toggle-box::before{
            left: 0;
            top: -270%;
            width: 100%;
            height: 300%;
            border-radius: 20vw;
        }
    
            .container.active .toggle-box::before{
                left: 0;
                top: 70%;
            }
    
            .container.active .toggle-panel.toggle-left{
                left: 0;
                top: -30%;
            }
    
        .toggle-panel{ 
            width: 100%;
            height: 30%;
        }
            .toggle-panel.toggle-left{ top: 0; }
            .toggle-panel.toggle-right{
                right: 0;
                bottom: -30%;
            }
    
                .container.active .toggle-panel.toggle-right{ bottom: 0; }
    }
    
    @media screen and (max-width: 400px){
        .form-box { padding: 20px; }
    
        .toggle-panel h1{font-size: 30px; }
    }
    